<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.infomaniak.drive.iap.solo.yearly</string>
	<string>com.infomaniak.drive.iap.solo.monthly</string>
	<string>com.infomaniak.drive.iap.team.monthly</string>
	<string>com.infomaniak.drive.iap.team.yearly</string>
</array>
</plist>
