name: Check Commit Message

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check-commit-message:
    uses: infomaniak/.github/.github/workflows/semantic-commit.yml@feat/add-workflows
    secrets: inherit
