name: SwiftFormat

on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  format:
    uses: infomaniak/.github/.github/workflows/swiftformat.yml@feat/add-workflows
