name: UI tests workflow

on:
  pull_request:
    branches: [ master,release-* ]

jobs:
  build:
    name: Build and Test project
    runs-on: [ self-hosted, iOS ]

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}
      - uses: jdx/mise-action@v2
        with:
          cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create test env
        env:
          ENV_PATH: "kDriveTests/Env.swift"
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          USER_ID: ${{ secrets.USER_ID }}
          INVITE_USER_ID: ${{ secrets.INVITE_USER_ID }}
          INVITE_EMAIL: ${{ secrets.INVITE_EMAIL }}
        run: |
          touch $ENV_PATH
          echo -e "enum Env {\n    static let token = \"$ACCESS_TOKEN\"\n\n    static let driveId = 420132\n\n    static let userId = $USER_ID\n\n    static let inviteUserId = $INVITE_USER_ID\n\n    static let inviteMail = \"$INVITE_EMAIL\"\n\n    static let inviteTeam = 0\n\n    static let commonDocumentsId = 3\n}" > $ENV_PATH
      - name: Project setup 
        run: tuist install && tuist generate
      - name: UI tests
        run: tuist test --device "iPhone 15 Pro" --test-targets kDriveUITests
